<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="paneldecontrol.html">
        <img src="invima-logo.jpg" class="mt-3" width="90" alt="">
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="paneldecontrol.html">
        <span class="text-dark">Panel de control</span></a>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <span class="text-secondary">Gestiones</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="cobros.html">Cobros</a>
                <a class="collapse-item" href="terminos.html">Terminos</a>
                <a class="collapse-item" href="abogados.html">Abogados</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="alertas.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span class="text-secondary">Alertas</span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"> <img src="arrow-left-circle.svg" alt=""></button>
    </div>
</ul>