<app-header></app-header>
<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-topbar></app-topbar>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800 text-center">Gestión Abogado</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4 mt-3">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"> </h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Cedula</th>
                                        <th>Correo electrónico</th>
                                        <th>Tipo de vinculación</th>
                                        <th>Estado</th>
                                        <th>Fecha de registro</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ID</td>
                                        <td>Nombre</td>
                                        <td>Cedula</td>
                                        <td>Correo electrónico</td>
                                        <td>Nombre del deudor</td>
                                        <td>Cedula</td>
                                        <td>Abogado asignado</td>
                                        <td>
                                            <div class="text-center">
                                                <button class="btn btn-primary">Editar</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
