<app-header></app-header>
<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-topbar></app-topbar>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800 text-center">Alertas</h1>
                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group mt-3">
                        <label for="">Fecha inicial</label>
                        <input type="date" class="form-control bg-light border-0 small ml-2">
                        <label class="ml-3" for="">Fecha final</label>
                        <input type="date" class="form-control bg-light border-0 small ml-2">
                    </div>
                </form>
                <!-- DataTales Example -->
                <div class="card shadow mb-4 mt-3">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"> </h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>N° Radicado Coactivo</th>
                                        <th>N° Proceso</th>
                                        <th>Etapa proceso</th>
                                        <th>Nombre deudor</th>
                                        <th>Cedula</th>
                                        <th>Fecha de registro</th>
                                        <th>Fecha constancia ejecutoria</th>
                                        <th>Fecha preinscripción</th>
                                        <th>Fecha vencimiento</th>
                                        <th>Días restantes fecha vencimiento</th>
                                        <th>Mensaje</th>
                                        <th>Abogado asignado</th>
                                        <th>Estado procesal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>N° Radicado Coactivo</td>
                                        <td>N° Proceso</td>
                                        <td>Etapa proceso</td>
                                        <td>Nombre deudor</td>
                                        <td>Cedula</td>
                                        <td>Fecha de registro</td>
                                        <td>Fecha constancia ejecutoria</td>
                                        <td>Fecha preinscripción</td>
                                        <td>Fecha vencimiento</td>
                                        <td>Días restantes fecha vencimiento</td>
                                        <td>Mensaje</td>
                                        <td>Abogado asignado</td>
                                        <td>Estado procesal</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>